body {
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 10px;
}

div {
    margin-bottom: 5px;
}

label {
    padding-left: 1px;
}

input[type='text'],
[type='number'] {
    margin-left: 5px;
    margin-right: 10px;
    width: 20%;
    border-radius: 8px;
}

button {
    border-radius: 8px;
    width: 90px;
    margin-right: 5px;
}